

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.text-primary{
    color: #FD6E0A;
}



/* nav styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 70px;
    margin-top: 37;
    margin-right: 1404;
}
.nav title{
    font-weight: 800;
    font-size: 45px;
} 
nav ul li {
    list-style: none;
    
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 2opx;
    
}
.dark  {

    color: #474747;
}
nav ul {
    display: flex;
}
.btn {
background-color: #FD6E0A;
font-weight: bold;
color: white;
padding: 18 35 18;
border-radius: 5px;
border: none;
}
/*banner section*/
.banner-greetings{
    font-weight: 600;
    font-size: 45px;
    margin-left: 150px;
}
 .banner-title{
    font-weight: bold;
    font-size:85;
    margin-left: 150px;
    
 }




 
 .profilepic{
    width: 500px;
 }
     .banner{
       display: flex;
       justify-content: space-between;
     }
     .header{
        background-image: url('../images/developer.png'),url('../images/header_bg.png');
        background-repeat: no-repeat;
            background-position: top left,bottom right;}
